<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp>
          <timeZone>UTC</timeZone>
        </timestamp>
        <loggerName>
          <shortenLoggerName>true</shortenLoggerName>
        </loggerName>
        <pattern>
          <pattern>{"level":"%level","thread":"%thread"}</pattern>
        </pattern>
        <mdc>
          <includeMdcKeyName>requestId</includeMdcKeyName>
          <includeMdcKeyName>httpMethod</includeMdcKeyName>
          <includeMdcKeyName>httpPath</includeMdcKeyName>
          <includeMdcKeyName>httpQuery</includeMdcKeyName>
          <includeMdcKeyName>httpStatus</includeMdcKeyName>
          <includeMdcKeyName>clientIp</includeMdcKeyName>
          <includeMdcKeyName>username</includeMdcKeyName>
        </mdc>
        <message/>
        <arguments/>
        <stackTrace/>
      </providers>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>


